@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}
#ho{
    overflow: hidden;

}/*
#mytable{
  top: 150px;
}*/
body {
    background-color: #342f3f;
    font-family: 'Muli', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 0 0;
    /*height: 100vh;*/

}

.text {
    text-transform: uppercase;
}

.logo {
    margin-top: 50px;
    width: 210px;
}

.nav-btn {
    border: none;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
}

.open-btn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9999; /* إضافة z-index هنا */
}

.nav.visible {
    transform: translateX(0);
}

.nav-black {
    background-color: #570266;
    width: 60%;
    max-width: 340px;
    min-width: 180px;
    transition-delay: 0.4s;
}

.nav-black.visible {
    transition-delay: 0s;
}

.nav-red {
    background-color:  #6C55AF;
    width: 95%;
    transition-delay: 0.2s;
}

.nav-red.visible {
    transition-delay: 0.2s;
}

.nav-white {
    background-color: #1f1127;
    width: 95%;
    padding: 40px;
    position: relative;
    transition-delay: 0s;
}

.nav-white.visible {
    transition-delay: 0.4s;
}

.close-btn {
    color: #fff;
    opacity: 0.3;
    position: absolute;
    top: 5px;
    left: 230px;

}

.list {
    list-style-type: none;
    padding: 0;
    margin-top: -10px;
}

.list li {
    margin: 10px 0;
}

.list li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
}

.list li.active a {
    color: #d318f4;
    font-weight: bold;
}

.list li a:active {
    opacity: 0.8;
}

.list ul {
    list-style-type: none;
    padding-left: 20px;
}

#mytitle{
    color: #6C55AF;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    /*bottom: 300px;*/
}

/*welcome*/
.hero {/*
  background-image: url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;*/
    width: 100vw;
    height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: -2;
}


.hero h1 {
    font-size: 56px;
    margin: -20px 0 20px;
}

.hero p {
    font-size: 30px;
    letter-spacing: 1px;
}



/* table*/
#t {
    color: #de0afa;
    /*color:#007bff; */
    text-align: left;
    font-style: italic;
    font-size: 3em;
    padding-bottom: 7px;
}

.table td .row {
    margin-bottom: 5px; /* إضافة مسافة صغيرة بين المنتجات */
}

.table td .row:last-child {
    margin-bottom: 0; /* إزالة المسافة من آخر منتج */
}

/* ترقيم الصفوف باستخدام counter */
tbody tr {
    counter-increment: row-num; /* زيادة العداد لكل صف */
}

tbody tr th:first-child::before { /* إضافة الرقم قبل محتوى الخلية الأولى (<th>) */
    content: counter(row-num);
}


.table-bordered {
    border: 1px solid #e181fa;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #b872c9;
}

.product-list {
    margin-bottom: 0;
    display: grid; /* استخدام grid لتوزيع العناصر بشكل أفضل */
    grid-template-columns: 1fr 1fr; /* تقسيم إلى عمودين متساويين */
    gap: 5px; /* مسافة بين العناصر */
}

.product-list dt, .product-list dd {
    padding: 2px 5px; /* إضافة بعض الحشو */
    margin: 0;
    border: 1px solid #6c757d; /* إضافة حدود خفيفة */
    border-radius: 4px;
    text-align: right;
    font-size: small;
    background-color: #343a40; /* لون خلفية خفيفة */
    color: white;
}
.product-list dt {
    font-weight: bold;
}
.product-list dd {
    text-align: left;
}
.orders-header {
    display: flex; /* استخدام flexbox لتوزيع العناصر */
    flex-direction: column; /* ترتيب العناصر عموديًا */
    align-items: center; /* توسيط العناصر أفقيًا */
}

.product-quantity-labels {
    font-size: 20px; /* تصغير حجم الخط (اختياري) */
    margin-top: 5px; /* إضافة مسافة بين "الطلبات" و "اسم المنتج / الكمية" */
}
.product-quantity-labels span{
    display: inline-block;
    /*margin-right: 20px;
    margin-left: 20px;*/
}
#s{
    padding-left: 30px;
    padding-right: 77px;
}/*
#s2{
  padding-right: 20px;
}*/
/*button send*/

button {
    background-color: purple;
    color: #fff;
    border: 1px purple solid;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 30px;
    overflow: hidden;
    margin: 10px 0;
    position: relative;
    left: 25px;
}

button:focus {
    outline: none;
}

button .circle {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}


/*DRI*/
#tt {
    color: #de0afa;
    /*color:#007bff; */
    text-align: left;
    font-style: italic;
    font-size: 3em;
    padding-bottom: 7px;
    margin-top: 20px;
}
/* تحسين أبعاد الصورة */
.card-img-custom {
    height: 180px; /* ارتفاع الصورة */
    object-fit: cover;
    width: 100%; /* عرض الصورة بنسبة 100% من الكارد */
    border-top-left-radius: 10px; /* زوايا مدورة للصورة */
    border-top-right-radius: 10px;
}

/* تحسين أبعاد الكارد */
.custom-card {
    height: 100%; /* ارتفاع الكارد */
    width: 100%; /* عرض الكارد بنسبة 100% من العمود */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* توزيع العناصر بشكل متساوٍ */
    border: 1px solid #ddd; /* إضافة حدود للكارد */
    border-radius: 10px; /* زوايا مدورة */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* إضافة ظل */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* تأثير عند التمرير */
}

.custom-card:hover {
    transform: translateY(-20px); /* رفع الكارد قليلاً عند التمرير */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* زيادة الظل عند التمرير */
}

/* تحسين العنوان */
.card-title-custom {
    font-size: 22px; /* حجم العنوان */
    color: #d318f4;
    margin-bottom: 10px; /* إضافة مسافة أسفل العنوان */
    font-weight: bold; /* جعل العنوان أكثر سماكة */
}

/* تحسين النصوص */
.card-text {
    font-size: 16px; /* حجم النص */
    color: #555;
    margin-bottom: 8px; /* إضافة مسافة بين النصوص */
}

/* تحسين الصفوف والأعمدة */
.row {
    margin: 0; /* إزالة الهوامش الافتراضية للصف */
}

/* تحسين الحاوية */
#cardD{
    padding: 20px; /* إضافة مسافة حول الحاوية */
    max-width: 1300px; /* تحديد عرض أقصى للحاوية */
    margin: 0 auto; /* توسيط الحاوية */
    margin-top: 50px;
}




/* تنسيق زر Logout */
.logout-btn-container {
    position: fixed; /* تثبيت الزر في مكانه */
    bottom: 20px; /* المسافة من الأسفل */
    right: 20px; /* المسافة من اليمين */
    z-index: 1000; /* التأكد من ظهور الزر فوق العناصر الأخرى */
}

.logout-btn {
    text-decoration: none; /* إزالة الخط الأفقي الافتراضي */
    color: #d307f6; /* لون النص */
    font-size: 14px; /* حجم الخط */
    font-weight: bold; /* سمك الخط */
    border-bottom: 2px solid #d307f6; /* خط تحت النص */
    padding-bottom: 2px; /* مسافة بين النص والخط */
    transition: color 0.3s, border-color 0.3s; /* تأثير تغيير اللون */
}

.logout-btn:hover {
    color: purple; /* تغيير لون النص عند التمرير */
    border-bottom-color: purple; /* تغيير لون الخط عند التمرير */
}


/** add*****************************************************************************/
/* توسيط الصفحة */
.centered-container {
    display: flex;
    justify-content: center; /* توسيط أفقي */
    align-items: center; /* توسيط عمودي */
    min-height: 100vh; /* ارتفاع الصفحة بالكامل */
    padding: 20px; /* إضافة padding لتجنب الالتصاق بالحواف */
    margin-top: -60px; /* رفع الـ container للأعلى */
}
#addt {
    font-size: 3rem; /* حجم الخط */
    color: #de0afa; /* لون الخط */
    font-style: italic;
}

/* تخصيص حقول الإدخال */
.custom-input {
    width: 250px; /* تقليل العرض */
    background-color: #1d182a; /* لون خلفية فاتح */
    padding: 10px; /* إضافة padding لتحسين المظهر */
    border: 1px solid #ced4da; /* إطار بسيط */
    border-radius: 5px; /* زوايا مدورة */
    font-size: 1rem; /* حجم الخط */
    color: #333; /* لون النص */
    transition: background-color 0.3s ease; /* تأثير تغيير اللون */
}
.custom-input::file-selector-button {
    background-color: #1d182a; /* لون خلفية الزر */
    color: white; /* لون نص الزر */
    padding: 9px 19px; /* التباعد الداخلي للزر */
    border: none; /* إزالة الحدود */
    border-radius: 5px; /* زوايا مدورة للزر */
    cursor: pointer; /* تغيير شكل المؤشر عند التمرير فوق الزر */
}

.custom-input::file-selector-button:hover {
    background-color: #fe5ff3; /* لون خلفية الزر عند التمرير */

}
.custom-inputd {
    width: 510px; /* تقليل العرض */
    background-color:#1d182a ;/* لون خلفية فاتح */
    padding: 10px; /* إضافة padding لتحسين المظهر */
    border: 1px solid #ced4da; /* إطار بسيط */
    border-radius: 5px; /* زوايا مدورة */
    font-size: 1rem; /* حجم الخط */
    color: #333; /* لون النص */
    transition: background-color 0.3s ease; /* تأثير تغيير اللون */
}
.custom-inputcpq {
    width: 160px; /* تقليل العرض */
    background-color: #1d182a; /* لون خلفية فاتح */
    padding: 10px; /* إضافة padding لتحسين المظهر */
    border: 1px solid #ced4da; /* إطار بسيط */
    border-radius: 5px; /* زوايا مدورة */
    font-size: 1rem; /* حجم الخط */
    color: #333; /* لون النص */
    transition: background-color 0.3s ease; /* تأثير تغيير اللون */
}
.custom-input:focus {
    background-color: #e9ecef; /* لون خلفية عند التركيز */
    border-color: #730f89; /* لون الإطار عند التركيز */
    outline: none; /* إزالة الحد الأصلي عند التركيز */
}
.custom-inputd:focus {
    background-color: #e9ecef; /* لون خلفية عند التركيز */
    border-color: #730f89; /* لون الإطار عند التركيز */
    outline: none; /* إزالة الحد الأصلي عند التركيز */
}



/* تحسين الـ labels باستخدام الـ id */
#category_id_label {
    font-size: 1.2rem; /* حجم الخط */
    color: #d95bd9; /* لون الخط */
    font-weight: bold; /* سماكة الخط */
}

#name_label {
    font-size: 1.2rem;
    color: #d95bd9;
    font-weight: bold;
}

#description_label {
    font-size: 1.2rem;
    color: #d95bd9;
    font-weight: bold;
}

#price_label{
    font-size: 1.2rem;
    color: #d95bd9;
    font-weight: bold;
}

#image_label{
    font-size: 1.2rem;
    color: #d95bd9;
    font-weight: bold;
}

#Ad-image_label{
    font-size: 1.2rem;
    color: #d95bd9;
    font-weight: bold;
}

#categoryName_label{
    font-size: 1.2rem;
    color: #d95bd9;
    font-weight: bold;
}

#storeName_label{
    font-size: 1.2rem;
    color: #d95bd9;
    font-weight: bold;
}

#quantity_label {
    font-size: 1.2rem;
    color: #d95bd9;
    font-weight: bold;
}
#add-b{
    width: 300px;
    height: 50px;
    left: 120px;
    /*margin-top: -5px;*/
}
#address_label, #phone_label, #logo_label {
    font-size: 1.2rem;
    color: #d95bd9;
    font-weight: bold;
}
.custom-popup {
    width: 300px; /* تصغير عرض النافذة */
    font-size: 16px; /* تصغير حجم الخط العام */
}

.custom-title {
    font-size: 20px; /* تصغير حجم العنوان */
}

.custom-text {
    font-size: 16px; /* تصغير حجم النص */
}

.custom-button {
    font-size: 16px; /* تصغير حجم الزر */
    padding: 5px 10px; /* تصغير حجم الزر */
    background-color: #6C55AF;
    width: 125px;
    /*right: 10px;*/
    margin-right: 38px;
}
